parameters:
    level: max
    paths:
        - admin/
        - psr-4/
        - orbis-organizations.php
    scanFiles:
        - packages/wp-plugin/posts-to-posts/vendor/scribu/lib-posts-to-posts/api.php
